.slideshow {
  position: relative;
  max-width: 1440px;
  height: 100vh;
  margin: auto;
}

.slideshow__slide {
  position: absolute;
  max-width: 450px;
  left: 50%;
  transform: translate(-50%);
  display: none;
}

.slideshow__controlls {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left,
.right {
  cursor: pointer;
  padding: 1.8rem 1.2rem;
  border-radius: 4px;
}

.left:hover,
.right:hover,
.slideshow__slide-text:hover {
  background-color: hsla(0, 0%, 0%, 0.7);
  color: white;
  animation: fade 0.4s ease-in;
}

.slideshow__slide-text {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  bottom: 5px;
}

.active {
  display: block;
}

.fade {
  animation: fade 0.4s ease-in;
}

@keyframes fade {
  from {
    opacity: 10%;
  }
  to {
    opacity: 100%;
  }
}
